<!DOCTYPE html>
<html lang="pt-br">
<head>

    {% load static %}

    <title>Escala</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{% static 'node_modules/bootstrap/dist/css/bootstrap.css' %}">
    <script src="{% static 'node_modules/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'node_modules/vanilla-masker/lib/vanilla-masker.js' %}"></script>

    <link rel="stylesheet" href="{% static 'node_modules/@fortawesome/fontawesome-free/css/all.css' %}">
    <script src="{% static 'hrso_escala_js/base.js' %}?v=1.0.15"></script>
    <script src="{% static 'hrso_escala_js/organizacao.js' %}?v=1"></script>
    <script src="{% static 'hrso_escala_js/pessoas.js' %}?v=1.0.5"></script>

</head>

<body>

{% block content %}

{% endblock %}


<script>


</script>

</body>
</html>