<!DOCTYPE html>
<html lang="pt-br">
<head>

    {% load static %}

    <title>Escala</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{% static 'node_modules/bootstrap/dist/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'node_modules/@fortawesome/fontawesome-free/css/all.css' %}">
    <script src="{% static 'hrso_escala_js/base.js' %}?v=1"></script>

</head>

<body>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>


    {% block content %}

    {% endblock %}


</body>
</html>