{% extends 'base/base.html' %}

{% block content %}


    <nav class="navbar navbar-expand navbar-dark sticky-top" style="height: 76px; background-color: #246096">

        {% include 'nav/nav_brand.html' %}

        {% include 'nav/menu_fixo_superior_direito.html' %}

        <ul class="navbar-nav" style="position: absolute; top: 30px; left: 200px">
            {% block menu_variavel_esquerdo %}

            {% endblock %}
        </ul>

        <ul class="navbar-nav" style="position: absolute; right: 25px; bottom: 0">
            {% block menu_variavel_direito %}

            {% endblock %}
        </ul>

    </nav>

    <div class="container-fluid">
        {% block conteudo_pagina %}

        {% endblock %}


    </div>

{% endblock %}