<!DOCTYPE html>
<html lang="pt-br">
<head>

    {% load static %}

    <title>Escala</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{% static 'node_modules/bootstrap/dist/css/bootstrap.css' %}">
    <script src="{% static 'node_modules/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
    
    <script src="{% static 'node_modules/vanilla-masker/lib/vanilla-masker.js' %}"></script>

    <link rel="stylesheet" href="{% static 'node_modules/@fortawesome/fontawesome-free/css/all.css' %}">
    <script src="{% static 'hrso_escala_js/base.js' %}?v=1.0.31"></script>
    <script src="{% static 'hrso_escala_js/organizacao.js' %}?v=1"></script>
    <script src="{% static 'hrso_escala_js/pessoas.js' %}?v=1.0.5"></script>
    <script src="{% static 'hrso_escala_js/editar_licitacao.js' %}?v=0.0.41"></script>
    <script src="{% static 'hrso_escala_js/contrato.js' %}?v=0.1.10"></script>
    <script src="{% static 'hrso_escala_js/aditivo.js' %}?v=0.0.23"></script>
    
    <link href="{% static 'node_modules/tom-select/dist/css/tom-select.bootstrap5.css' %}" rel="stylesheet">
    <script src="{% static 'node_modules/tom-select/dist/js/tom-select.complete.min.js' %}"></script>

</head>

<body>

{% block content %}

{% endblock %}


<script>


</script>

</body>
</html>