{% extends 'base/base_logado.html' %}


{% block menu_variavel_esquerdo %}
    <li class="nav-item">
        <a class="nav-link">Menu Escala Esquerdo</a>
    </li>
{% endblock %}

{% block menu_variavel_direito %}
    <li class="nav-item">
        <a class="nav-link{% if '/configuracoes/' in request.META.PATH_INFO %} active{% endif %}" 
           href="{% url 'Escala:Configurações' %}">
            Configurações
        </a>
    </li>
{% endblock %}


{% block conteudo_pagina %}

{% endblock %}