<li class="nav-item">
    <a class="nav-link{% if '/fornecedores/' in request.META.PATH_INFO %} active{% endif %}"
    href="{% url 'Contratos:Fornecedores' %}">Fornecedores</a>
</li>

<li class="nav-item">
    <a class="nav-link{% if '/licitacoes/' in request.META.PATH_INFO %} active{% endif %}"
    href="{% url 'Contratos:Licitacoes Unidade' slug_unidade=unidade.slug  %}">Licitações</a>
</li>

<li class="nav-item">
    <a class="nav-link{% if '/contratos-unidade/' in request.META.PATH_INFO %} active{% endif %}"
    href="{% url 'Contratos:Contratos Unidade' slug_unidade=unidade.slug  %}">Contratos</a>
</li>


