{% extends 'pessoas/base_app.html' %}

{% load django_bootstrap5 %}

{% block conteudo_pagina %}

    {% include 'nav/nav_path.html' %}

    <div class="row">
        <div class="col-3" id="coluna-nav-setores">

        </div>
        <div class="col-9" id="coluna-colaboradores-unidade">
            <h5> Colaboradores {{ unidade.nome_unidade }}</h5>

            <div class="row">
                <div class="col-10">
                    <form id="dados-buscar"> {% csrf_token %}
                        <div class="row">
                            <div class="col">
                                <input class="form-control" id="buscar-cpf" type="text" placeholder="Buscar por CPF">
                            </div>
                            <div class="col">
                                <input class="form-control" id="buscar-nome" type="text" placeholder="Buscar pr Nome">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-2"><button class="btn btn-primary" onclick="buscarPessoas('{{ unidade.id }}')">Buscar</button></div>
            </div>

            <br>

            <div class="row"><div class="col">
                <table class="table table table-striped" id="tabela-pessoas">
                    <thead class="thead-light">
                    <tr>
                        <th>CPF</th>
                        <th>Nome</th>
                        <th>Vinculo</th>
                    </tr>

                    </thead>

                    <tbody id="dados-pessoas">

                    </tbody>
                </table>
            </div></div>

        </div>

    </div>

    <br>

    {% bootstrap_messages %}

    <script>

        unidades = {{ unidades|safe }};

        urlColaboradores = "{% url 'Pessoas:colaboradores' %}";

        console.log(urlColaboradores)

        function criarTabelaColaboradores(colaboradores){
            let tabelaColaboradores = document.createElement("table")
            tabelaColaboradores.setAttribute('class', 'table table-bordered')
            tabelaColaboradores.setAttribute('id', 'tabela-pessoas')

            let cabecalhoTabela = document.createElement("thead")
            cabecalhoTabela.setAttribute('class', 'thead-light')

            let linhaCabecalho = document.createElement("tr")

            let colunaA = document.createElement('th')
            colunaA.appendChild(document.createTextNode("CPF"))

            let colunaB = document.createElement('th')
            colunaB.appendChild(document.createTextNode("Nome"))

            let colunaC = document.createElement('th')
            colunaC.appendChild(document.createTextNode("Vinculo"))

            linhaCabecalho.appendChild(colunaA)
            linhaCabecalho.appendChild(colunaB)
            linhaCabecalho.appendChild(colunaC)

            cabecalhoTabela.appendChild(linhaCabecalho)

            let corpoTabela = document.createElement("tbody")
            corpoTabela.setAttribute('id', 'id-dados-pessoas')

            for(c of colaboradores){
                urlColaborador = `${urlColaboradores}colaborador/${c.slug}`
                let linhaColaborador = document.createElement('tr')
                let celulaCPF = document.createElement('td')
                let aCPF = document.createElement('a')
                aCPF.href = urlColaborador
                aCPF.appendChild(document.createTextNode(c.cpf))
                celulaCPF.appendChild(aCPF)

                let celulaNome = document.createElement('td')

                let aNome = document.createElement('a')
                aNome.href = urlColaborador
                aNome.appendChild(document.createTextNode(c.nome))

                celulaNome.appendChild(aNome)

                let celulaVinculo = document.createElement('td')
                celulaVinculo.appendChild(document.createTextNode(c.tipo_vinculo))

                linhaColaborador.appendChild(celulaCPF)
                linhaColaborador.appendChild(celulaNome)
                linhaColaborador.appendChild(celulaVinculo)
                corpoTabela.appendChild(linhaColaborador)
            }




            tabelaColaboradores.appendChild(cabecalhoTabela)
            tabelaColaboradores.appendChild(corpoTabela)

            return tabelaColaboradores
        }

        const colNavSet = document.getElementById('coluna-nav-setores')

        colNavSet.appendChild(criarNavUnidadeSetoresColaboradores(unidades))

    </script>

{% endblock %}
