{% extends 'pessoas/base_app.html' %}

{% load django_bootstrap5 %}

{% block conteudo_pagina %}

    {% include 'nav/nav_path.html' %}

    <div class="row">
        <div class="col-3" id="coluna-nav-setores">

        </div>
        <div class="col-9">
            <h5> Colaboradores </h5>

            <div class="row">
                <div class="col-10">
                    <form id="dados-buscar"> {% csrf_token %}
                        <div class="row">
                            <div class="col">
                                <input class="form-control" id="buscar-cpf" type="text" placeholder="Buscar por CPF">
                            </div>
                            <div class="col">
                                <input class="form-control" id="buscar-nome" type="text" placeholder="Buscar pr Nome">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-2"><button class="btn btn-primary" onclick="buscarPessoas()">Buscar</button></div>
            </div>

            <br>

            <div class="row"><div class="col">
                <table class="table table table-striped" id="tabela-pessoas">
                    <thead class="thead-light">
                    <tr>
                        <th>CPF</th>
                        <th>Nome</th>
                        <th>Vínculo</th>
                    </tr>

                    </thead>

                    <tbody id="dados-pessoas">

                    </tbody>
                </table>
            </div></div>


        </div>

    </div>

    <br>

    {% bootstrap_messages %}

    <script>
        unidades = {{ unidades|safe }};

        console.log(unidades)

        urlColaboradores = "{% url 'Pessoas:colaboradores' %}";

        document.addEventListener('DOMContentLoaded', function() {
            VMasker(document.getElementById('buscar-cpf')).maskPattern('999.999.999-99');
        });

        const colNavSet = document.getElementById('coluna-nav-setores')

        colNavSet.appendChild(criarNavUnidadeSetoresColaboradores(unidades))



    </script>


{% endblock %}