{% extends 'pessoas/base_app.html' %}
{% load django_bootstrap5 %}
{% block conteudo_pagina %}

    {% include 'nav/nav_path.html' %}

    <div class="row">
    <div class="col-3" id="coluna-nav-setores">

    </div>
    <div class="col-9">

    </div>

    </div>

    {% bootstrap_messages %}

    <script>

        unidades = {{ unidades|safe }};

        function criarNavUnidadeSetores(unidades){
            let navbarLight = document.createElement('nav')
            navbarLight.className = "navbar navbar-light"

            let ulNavbar = document.createElement('ul')
            ulNavbar.className = "navbar-nav"
            for(let unidade of unidades){
                let aUnidade = document.createElement('a')
                console.log(unidade.ativa)
                if(unidade.ativa){
                    aUnidade.className = "nav-link active"
                }else{
                    aUnidade.className = "nav-link"
                }
                aUnidade.href = `{% url 'Pessoas:organizacao' %}${unidade.slug}`
                aUnidade.innerHTML = unidade.nome_unidade
                ulNavbar.appendChild(aUnidade)
                let setores = unidade.setores_unidade
                console.log(unidade.slug)
                let navSetors = criarNavSetores(setores, unidade.slug)
                ulNavbar.append(navSetors)
            }

            navbarLight.appendChild(ulNavbar)

            return navbarLight
        }

        function criarNavSetores(setores, slug_unidade){
            let divContainer = document.createElement('div')
            divContainer.className = "container-fluid"

            let navbarLight = document.createElement('nav')
            navbarLight.className = "navbar navbar-light"

            let ulNavbar = document.createElement('ul')
            ulNavbar.className = "navbar-nav"
            for(let setor of setores){
                let liSetor = document.createElement('li')
                liSetor.className = "nav-item"

                let aSetor = document.createElement('a')
                console.log(setor)
                console.log(setor['setor_ativo'], "SA")
                if (setor['setor_ativo'] === true){
                    aSetor.className = "nav-link active"
                }else{
                    aSetor.className = "nav-link"
                }
                aSetor.innerHTML = setor.nome_setor
                aSetor.href = `{% url 'Pessoas:organizacao' %}${slug_unidade}/${setor.slug}`


                liSetor.appendChild(aSetor)
                ulNavbar.appendChild(liSetor)
                if(setor.setores_setor){
                    let navSetoresSetor = criarNavSetores(setor.setores_setor, slug_unidade)
                    ulNavbar.appendChild(navSetoresSetor)
                }
            }
            navbarLight.appendChild(ulNavbar)

            divContainer.appendChild(navbarLight)

            return divContainer
        }

        const colNavSet = document.getElementById('coluna-nav-setores')

        colNavSet.appendChild(criarNavUnidadeSetores(unidades))
    </script>

{% endblock %}



